/* GENERAL STYLES */
body {
background-color: rgba(120, 213, 120, 0.222);
}

.content {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 200px;
}

/* CONTENT DISPLAY */
.display {
  background-color: rgba(132, 234, 132, 0.534);
  border-radius: 8px;
  padding: 15px 20px;
  margin: auto 10px;
  width: 40%;
  height: 450x;
  /* overflow: auto; */
}

.coin p{
  height: 250px;
  overflow: auto;
}

img {
  float: right;
}

#hidden {
  display: none;
}